<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Article[]|\Cake\Collection\CollectionInterface $articles
 */
?>

 <h2 style="text-align: center;"><?= $tst ?></h2>

 <div style="width: 400px; margin: auto;">
 контейнер № 4

    <div>
        <h4><?= __('Title') ?></h4>
        <?= h($article->title); ?>
    </div>
    <div style="width: 300px; margin: 30px 50px">
        <h4><?= __('Text') ?></h4>
        <?= h($article->text); ?>
    </div>
</div>
<p style="text-align: center;">   
    <a href="/articles/show/<?=(($article->id)+1)?>">Next new</a>

</p>
<p><?= $this->Html->link(__('Show'), ['action' => 'show', $article->id]) ?></p>


